*.pyc
build
*.spec
*.png
*.jpeg
*.jpg
*.gif
*.stl
!src/documents/images/ADHHKM.jpg
!src/documents/images/KeyVisual2.jpg
!src/documents/gif/connect_git_vga_10fps.gif
!src/documents/gif/usersmanual_gif_vga_5fps.gif
!src/documents/images/sample_1_mouse_move.PNG
!src/documents/images/sample_2_mouse_click.PNG
!src/documents/images/sample_3_F5.PNG
!src/documents/images/sample_4_logout.PNG
!src/documents/images/sample_5_login.PNG
!src/documents/images/sample_6_screenshot.PNG
!src/documents/images/sample_7_memo.PNG
!src/documents/images/sample_8_shutdown.PNG
!src/documents/images/sample_9_JPUS_keyboard.PNG
!src/documents/images/USBHub.JPG
!src/documents/images/permission2.png
!src/documents/images/download_releasefiles.PNG
!src/documents/gif/hello_gif2_vga_5fps.gif
!src/documents/gif/otherpc_gif_vga_5fps.gif